.App {
  position: fixed;
  background-image: url('https://i.imgur.com/hByZI3j.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
} 

.NavigationBar {
  margin-top: 0vh;
  height:1vh
}

.FormSpacing{ 

  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgba(11, 6, 31, 0.671);
  width:40vw;

}

.Login {
  margin-top: -8vh;
  margin-left: -6.8vh;
  margin-bottom: 2vh;
  margin-right: -6.7vh;
  padding: 1px;
  border-bottom-width: 2px;
}

h1 {
  text-align: center;
  height:50px;
  border-bottom: 2px solid rgba(27, 4, 2, 0.781);
}


h1{ 
  color: rgba(2, 5, 27, 0.856); 
}

.FormColour {
  padding: 50px; /*makes it look neat*/
  border-radius: 2px; /*or 2px*/
  border: 2px solid rgba(27, 4, 2, 0.5);
  background-color:#29201dd8;
  
}

input[type="text"], textarea {

  background-color: #29201dbe; 

}
input[type="password"], textarea {

  background-color :#29201dad; 

}



@keyframes img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 


